@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Animation: Fade In Up */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px); /* Muncul dari bawah sedikit */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in-up {
    animation: fadeInUp 0.3s ease-out forwards;
}